/* General setup */
@font-face{
    font-family:'baloo-regular';
    src:url("../fonts/baloo-regular/baloo-light-webfont.woff") format('woff'),
        url("../fonts/baloo-regular/baloo-light-webfont.woff2") format('woff2');
    
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'Open_sans';
    src:url("../fonts/Open-sans/opensans-bold-webfont.woff") format('woff'),
        url("../fonts/Open-sans/opensans-bold-webfont.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 10px;
    margin: 0;
    font-family: sans-serif;
  }
  
  body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Typography */
  
  h1 {
    font-size: 3.2rem;
    font-family:  Open_sans;
  }
  
  h2 {
    font-size: 2.4rem;
    font-family: Open_sans;
  }
  
  p {
    font-size: 1.4rem;
    line-height: 1.6;
    word-spacing: 0.6rem;
    font-family:baloo-regular ;
  }