* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    font-size: 10px;
    line-height: 2;
    word-spacing: 4px;
    font-size: 18px;
    letter-spacing: 1.5px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }


  aside li a {
    line-height: 2.5;
  }
@font-face{
        font-family:'sans_heading';
        src:url("../fonts/droid-serif.ttf");
        font-style:normal;
        font-weight:150;
      }
      
h1{
        font-family:sans_heading;
        font-weight:150;
        text-align: center;
        letter-spacing: 3px;
      }
      
@font-face{
        font-family:'second_header';
        src:url("../fonts/source-sans-pro.ttf");
        font-style:normal;
        font-weight:150;
      }
      
      h2{
        font-family:second_header;
        font-weight:100;
      }

p{
    font-family: 'Courier New';
}

ol li {
    font-family: 'Courier New';
}

ul li{
    font-family: 'Courier New';
}

nav ul li a:hover{
    background-color:orange;
  }
nav ul li{
    list-style-type: none;
  }
  
nav ul li a{
    text-decoration: none;
    color:#a66;
    font-size:20px;
    line-height: 2.5;
  }

* li{
    font-size:15px;
 }

 a:link, a:visited {
    color: red;
  }
  a:visited{
      color:darkgreen;
  }
  
  a:focus, a:hover {
    text-decoration: none;
  }
  
  a:active {
    color: transparent;
    text-shadow: 0px 0px 1px #f00,
                 0px 0px 2px #f00,
                 0px 0px 3px black,
                 0px 0px 4px black;
  }